.todo-list-container {
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.353);
  padding: 0.25rem;
  height: 800px;
  width: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 5;
  .todo-list-header {
    height: 10%;
    width: 100%;
    h3 {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      height: 100%;
      width: 100%;
      font-size: 3rem;
      letter-spacing: 0.5px;
    }
  }
  .todo-list-box {
    padding: 0.25rem;
    height: 90%;
    width: 100%;
  }
}
div {
  border-radius: 10px;
}
.form-container {
  // box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.205);
  width: 100%;
  margin: 0 auto;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem;
  // backdrop-filter: brightness(80%);
}
.todo-form-container {
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;

  .form-box-check {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0.25rem 0;

    .todo-input {
      color: #121212;
      color: white;
      background-color: rgba(103, 103, 103, 0.154);
      outline: none;
      border-radius: 20px;
      border: 2px solid transparent;
      text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.086);
      border: 1px solid rgba(255, 255, 255, 0.034);
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.205);
      backdrop-filter: blur(1px);
      font-size: 1.5rem;
      padding: 0.2rem 0.5rem;
      width: 90%;
      margin-right: 0.25rem;
      &:focus {
        border: 1.5px solid #2480e3;
        transition: all 0.15s ease-in-out;
      }
    }
    .check-todo-input {
      width: 100%;
    }
  }
  .btn-box {
    display: flex;
    align-items: center;
    justify-content: center;
    .add-todo-btn {
      border: 1px solid transparent;
      outline: none;
      color: white;
      border-radius: 50%;
      height: 30px;
      width: 30px;
      transition: all 0.15s ease-in-out;
      background-color: #1e6fc5;
      text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.086);
      height: 35px;
      width: 35px;
      &:hover {
        background-color: #2480e3;
        transition: all 0.15s ease-in-out;
      }
    }
  }
  .check-btns {
    transition: all 0.15s ease-in-out;
    margin-top: 1rem;
    margin: 1rem 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 0 8rem;
  }
}
.todo-display-container {
  width: 100%;
}
.check-btn {
  margin: 0 0.5rem;
  height: 35px;
  width: 35px;
}
.check-btn:hover {
  background-color: #2ecc71;
  transition: all 0.15s ease-in-out;
}
.cancel-btn:hover {
  background-color: #e74c3c;
  transition: all 0.15s ease-in-out;
}
.todo-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  max-height: 370px;
  width: 100%;
  padding: 0.2rem;
  overflow-y: scroll;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.086);

  .todo-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 95%;
    border: 1px solid rgba(255, 255, 255, 0.034);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.205);
    background-color: rgba(103, 103, 103, 0.089);
    backdrop-filter: blur(1px);
    border-radius: 10px;
    padding: 0.25rem;
    margin: 0.35rem 0;
    .todo-list-item-text {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      width: 90%;
      height: 100%;
      align-items: center;
      font-size: 1.25rem;
    }
    .todo-list-btns {
      width: 25%;
      height: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      height: 100%;
    }
  }
}
button {
  padding: 0.1rem 0.2rem;
  border: 1px solid transparent;
  outline: none;
  border-radius: 5px;
  margin: 0 0.2rem;
}
.fa-icon {
  font-size: 1rem;
}
.delete-todo-btn:hover {
  background-color: #2ecc71;
  transition: all 0.15s ease-in-out;
}
.edit-todo-btn:hover {
  background-color: #2480e3;
  transition: all 0.15s ease-in-out;
}
.delete-todo-btn,
.edit-todo-btn,
.cancel-btn,
.submit-btn {
  background-color: rgba(255, 255, 255, 0.168);
  color: white;
  backdrop-filter: blur(5px);
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

// MOBILE VIEW

@media screen and (max-width: 600px) {
  .todo-list-container {
    border-radius: 0;
    height: 100%;
    width: 100%;
    max-width: 600px;
    .todo-list-header {
      height: 10%;
      width: 100%;
      h3 {
        height: 100%;
        width: 100%;
        font-size: 3rem;
        letter-spacing: 0.5px;
      }
    }
    .todo-list-box {
      padding: 0.25rem;
      height: 90%;
      width: 100%;
    }
  }
  div {
    border-radius: 10px;
  }
  .form-container {
    // box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.205);
    width: 100%;
    margin: 0 auto;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5rem;
    // backdrop-filter: brightness(80%);
  }
  .todo-form-container {
    .form-box-check {
      width: 100%;
      .todo-input {
        font-size: 1.5rem;
        padding: 0.2rem 0.5rem;
        width: 90%;
        margin-right: 0.25rem;
      }
    }
    .btn-box {
      .add-todo-btn {
        margin-left: 30px;
        height: 3rem;
        width: 3rem;
      }
    }
    .check-btns {
      display: flex;
      justify-content: space-evenly;
      padding: 0 4rem;
    }
  }
  .todo-display-container {
    width: 100%;
  }

  .todo-list {
    height: 100%;
    max-height: 370px;
    width: 100%;
    padding: 0.2rem;

    .todo-list-item {
      padding: 0.35rem;
      height: 100%;
      width: 95%;
      margin: 0.35rem 0;
      .todo-list-item-text {
        width: 90%;
        height: 100%;
        font-size: 1.5rem;
      }
      .todo-list-btns {
        width: 25%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;
      }
    }
  }
  button {
    padding: 0.1rem 0.2rem;
    border-radius: 5px;
    margin: 0 0.2rem;
  }
  .fa-icon {
    font-size: 1.25rem;
  }
  .delete-todo-btn,
  .edit-todo-btn,
  .cancel-btn,
  .submit-btn {
    height: 2.5rem;
    width: 2.5rem;
  }
}
